* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", sans-serif;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 72px;
  text-decoration: none;
}
.btn h3 {
  display: grid;
  place-content: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: hsl(0, 0%, 8%);
  width: 100%;
  height: 100%;
}
.btn img {
  padding: 1.5rem 1.75rem;
  display: block;
  background-color: hsl(24, 56%, 63%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn:hover h3 {
  background-color: hsl(24, 56%, 63%);
}
.btn:hover img {
  background-color: hsl(0, 0%, 8%);
}
.btn.second {
  position: absolute;
  top: 0;
  left: 1rem;
}

.top-images {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.top-images .left-image {
  flex-basis: 100%;
  background-color: hsl(0, 0%, 8%);
}
.top-images .center-image {
  flex-basis: 100%;
  background-image: url(assets/image-hero.jpg);
  background-size: cover;
  background-position: bottom;
}
.top-images .right-image {
  flex-basis: 100%;
  background-color: hsl(0, 0%, 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 75rem;
  padding: 0 1rem;
  margin: auto;
}
.header .title {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  mix-blend-mode: difference;
  padding-bottom: 3.5rem;
}
.header .content {
  max-width: 400px;
}
.header .content .text {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: hsl(0, 0%, 27%);
  line-height: 2rem;
  padding-bottom: 3.5rem;
}
.header .content .text span {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.gallery {
  max-width: 75rem;
  margin: 7.5rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gallery .top-section {
  display: flex;
  gap: 2rem;
}
.gallery .top-section .left-content {
  background-color: hsl(0, 0%, 93%);
  padding: 3rem;
  width: 40%;
}
.gallery .top-section .left-content .heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}
.gallery .top-section .left-content .text {
  padding-top: 1.5rem;
  font-family: "Outfit", sans-serif;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.175rem;
  color: hsl(0, 0%, 27%);
}
.gallery .top-section .first-image {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .bottom-section {
  display: flex;
  gap: 2rem;
}
.gallery .bottom-section .second-image {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .bottom-section .right-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
}
.gallery .bottom-section .right-content .third-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .bottom-section .right-content .bottom-right-content {
  flex-basis: 100%;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  padding: 3rem;
}
.gallery .bottom-section .right-content .bottom-right-content .heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}
.gallery .bottom-section .right-content .bottom-right-content .text {
  padding-top: 1.5rem;
  font-family: "Outfit", sans-serif;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.175rem;
  color: hsl(0, 0%, 100%);
}

body .map-image ~ .footer {
  background-color: hsl(24, 56%, 63%) !important;
}

.map-image {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.location {
  padding: 5rem 1rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}
.location .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 75rem;
  margin: auto;
}
.location .container .heading {
  flex-basis: 100%;
  font-size: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.location .container .content {
  flex-basis: 100%;
}
.location .container .content .name {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 900;
  color: hsl(24, 56%, 63%);
  padding-bottom: 1.5rem;
}
.location .container .content .sub-name,
.location .container .content .text {
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 100;
  font-family: "Outfit", sans-serif;
}
.location .container .content .text {
  padding-top: 1.5rem;
}

.footer {
  padding: 2.5rem 1rem;
  background-color: hsl(0, 0%, 8%);
}
.footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: auto;
}
.footer .content .logo {
  display: block;
  width: 150px;
}
.footer .content .text {
  max-width: 400px;
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.footer .content .social-icons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer .content .social-icons img {
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  .top-images .left-image {
    display: none;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header .title {
    font-size: 4.5rem;
    line-height: 4.5rem;
    padding-bottom: 1.5rem;
  }
  .header .content .text {
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .gallery,
  .top-section,
  .bottom-section {
    flex-direction: column;
  }
  .gallery > *,
  .top-section > *,
  .bottom-section > * {
    width: 100% !important;
  }
  .top-images {
    position: static;
    height: 75vh;
  }
  .top-images .right-image {
    display: none;
  }
  .header {
    min-height: 75vh;
  }
  .header .title {
    color: hsl(0, 0%, 8%);
    font-size: 4rem;
  }
  .gallery {
    margin: 5rem auto;
  }
  .gallery .heading {
    font-size: 3rem !important;
  }
  .footer .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .location .container {
    flex-direction: column;
    gap: 2.5rem;
  }
  .location .container .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */